    .moytext{
        color: rgb(71, 153, 173);
    }
    a{
        text-decoration: none;
        color: rgb(99, 54, 129);
    }
    .liner{
        border: #3212d1;
        color: #3212d1;
       
    }
